[Unit]
Description=MariaDB binlog streaming to local backup directory
After=mariadb.service
Requires=mariadb.service

[Service]
Type=simple
ExecStartPre=/bin/bash -c "mysql -e \"SELECT id FROM information_schema.processlist WHERE command='Binlog Dump'\" --skip-column-names | xargs -r -I{} mysql -e \"KILL CONNECTION {};\""
ExecStart=/usr/local/bin/mariadb-binlog-stream.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
