{%- set dns_hosts = salt['pillar.get']('dns_hosts', {}) %}
{%- set entries = [] %}
{%- for hostname, data in dns_hosts.items() if hostname.startswith('monitoring') %}
{%- set clean = hostname.split('.')[0] %}
{%- do entries.append('  {"targets": ["' ~ data.ip ~ ':9102"], "labels": {"instance": "' ~ clean ~ '"}}') %}
{%- endfor %}
[
{{ entries | join(',\n') }}
]