// Configuration file for MediaWiki Jobrunner
// This file is managed by Salt
{%- set jr = salt['pillar.get']('mediawiki_jobrunner', {}) %}
{%- set dns_hosts = salt['pillar.get']('dns_hosts', {}) %}
{%- set monitoring_ip = dns_hosts.get('monitoring-us-east-021', {}).get('ip', '') %}
{
    "groups": {
        "basic": {
            "runners": 6,
            "include": [
                "*"
            ],
            "low-priority": [
                "htmlCacheUpdate",
                "refreshLinks"
            ]
        }
    },

    "limits": {
        // How many times to let jobs be recycled before abandoning
        "attempts": {
            "*": 3
        },
        // How long jobs can be claimed before being recycled
        "claimTTL": {
            "*": 3600
        },
        // runJobs.php process time limits
        "real": {
            "*": 300
        },
        // runJobs.php memory limits
        "memory": {
            "*": "300M"
        }
    },

    "redis": {
        // Ready queue trackers
        "aggregators": [
            "{{ jr.get('redis_host', 'redis-us-east-012.ovvin.wonet') }}"
        ],
        // Main queue servers
        "queues": [
            "{{ jr.get('redis_host', 'redis-us-east-012.ovvin.wonet') }}"
        ]
    },

    // Address to send statsd metrics to
    "statsd": "{{ monitoring_ip }}:9125",

    // Command used to launch a runner for a given job queue
    "dispatcher": "php /srv/mediawiki/scripts/mwscript.php maintenance/run.php runJobs --wiki=%(db)x --type=%(type)x --maxtime=%(maxtime)x --memory-limit=%(maxmem)x --result=json"
}
