[Unit]
Description=MediaWiki Redis job chron
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
ExecStart=/usr/bin/php /srv/mediawiki-services-jobrunner/redisJobChronService --config-file=/etc/mediawiki-jobrunner/config.json
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
