{%- set db_name = salt['pillar.get']('monitoring:ido_db_name', 'icingadb') %}
{%- set db_user = salt['pillar.get']('monitoring:ido_db_user', 'icingadb') %}
{%- set db_password = salt['pillar.get']('monitoring:ido_db_password') %}

library "db_ido_mysql"

object IdoMysqlConnection "ido-mysql" {
  user     = "{{ db_user }}"
  password = "{{ db_password }}"
  host     = "localhost"
  database = "{{ db_name }}"
  enable_ha = false
}
